services:
  app:
    build: .
    container_name: php-app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html

  nginx:
    image: nginx:alpine
    container_name: php-nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: jst-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: jst_industry
      MYSQL_USER: jst_industry
      MYSQL_PASSWORD: 2N-9OZxJ8Y/PvM-b
    ports:
      - "3307:3306"   # ใช้ 3307 กันชนกับ XAMPP
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
